## Numpy Assignment 2

- Student Name:  Faridah Nassolo
- Student RegNo: 2021/HD07/3240U

### Instructions
- Please answer the exercises to the best of your knowledge.
- The assignment is out of 10 marks and will contribute partially to your final result.

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
titanic = sns.load_dataset('titanic')

In [3]:

#A function that creates a random dataset
# with numerical and categorical features
def create_dataset(n_samples, n_features, n_classes):
    #set the seed
    np.random.seed(42)
    X = np.random.randn(n_samples, n_features)
    y = np.random.randint(0, n_classes, n_samples)
    #combing the numerical and categorical features
    z = np.hstack((X, y.reshape(-1, 1)))
    # add random column names to the dataset
    z = pd.DataFrame(z, columns=['col' + str(i) for i in range(n_features + 1)])
    # add a column with random strings combinations
    z['string'] = np.random.choice(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'], n_samples)
    # return the dataset
    return z

In [ ]:
#use the function above to create a dataframe.
df = create_dataset(50,5,2)
Mydataframe = pd.DataFrame(df) # pd.DataFrame creates a dataframe
Mydataframe

In [5]:
#check the dimensions of the data
Mydataframe = df.shape # returns the number of rows and columns of a dataframe
Mydataframe

(50, 7)

In [ ]:
#display the first few rows

Mydataframe = df.head() # returns the first few rows of the dataframe
Mydataframe

In [ ]:
# slice the first two columns and first two rows from the dataset

NewDf = df.iloc[0:2, 0:2] # iloc method [row slicing, column slicing] for integer based slicing 
NewDf

In [ ]:
# slice the last two columns and and las two rows from the dataset

df  #returns entire dataset
NewDf = df.iloc[48:50, 5:7] # iloc method for integer based slicing
NewDf

In [ ]:
# check the column data types in the dataset

ColumnType = df.dtypes # dtypes returns a series with a data type of each column
ColumnType

In [ ]:
# use the describe function to display the stats of the data.

df.describe() #generates descriptive statistics  pertaining to the DataFrame

In [ ]:
# calculate the sums of the data by row

ByRow = df.sum(axis = 1) # sum() function and set the axis value as 1 to add the row values.
ByRow

In [ ]:
# calculate the sums of the data by column

ByColumn = df.sum(axis = 0,numeric_only=True) #sum() function and set the axis value as 0 to add the column values
                                                #set parameter numeric_only=True 
ByColumn

In [ ]:
# create a new column by combining two random columns in the data through - addition, or multiplication
# call the column: new_col
df["new_col"] = df["col0"] + df["col5"] # create a new column using addition
df["new_col"]

In [ ]:
# create two random datasets from the function above and use the merge function to combine them
# name the two dataframes appropriately
dfa = create_dataset(10,3,2) #dataset1 
DataFramea = pd.DataFrame(dfa)
DataFramea

dfb = create_dataset(10,3,2) #dataset2
DataFrameb = pd.DataFrame(dfb)
DataFrameb

DataFramec = pd.merge(DataFramea, DataFrameb, on='string') #merge the datasets  #explicitly specify the name of the key column using the  'on 'keyword
DataFramec

In [28]:
#create three random datasets and concatenate them to form one result df z

def make_df(cols, ind): #function to create a df  #referenced from [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do)
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)

In [29]:
class display(object): #function to display objects  #referenced from [Python Data Science Handbook](http://shop.oreilly.com/product/0636920034919.do)
    """Display HTML representation of multiple objects"""
    template = """<div style="float: left; padding: 10px;">
    <p style='font-family:"Courier New", Courier, monospace'>{0}</p>{1}
    </div>"""
    def __init__(self, *args):
        self.args = args
        
    def _repr_html_(self):
        return '\n'.join(self.template.format(a, eval(a)._repr_html_())
                         for a in self.args)
    
    def __repr__(self):
        return '\n\n'.join(a + '\n' + repr(eval(a))
                           for a in self.args)

In [ ]:
df1 = make_df('MN',[1,2]) #dataset1 
df2 = make_df('MN',[3,4]) #dataset2
df3 = make_df('MN',[5,6]) #dataset3

dfz = display('df1','df2','df3',"pd.concat([df1,df2,df3], axis = 0)") #concatenate the datasets
                                                                      #By default,concatenation takes place row-wise within the DataFrame (i.e., axis=0)
dfz

In [ ]:
# create two datasets and join them based on one common variable
df1 = pd.DataFrame({'fruit': ['Apple', 'Pear', 'Peach'],
                    'colour': ['Green', 'Yellow', 'Orange']})
df2 = pd.DataFrame({'fruit': ['Apple', 'Pear', 'Peach'],
                    'number': [10, 3, 7]})
display('df1', 'df2', "pd.merge(df1, df2, on='fruit')") # use pd.merge to join the datasets 
                                                        #explicitly specify the name of the key column using the 'on 'keyword

In [ ]:
# create a dataset called p and groupby the string column and calculate sums

p = create_dataset(4,2,2) # created dataset using the initially defined function

p.groupby('string').sum() #groupby operation splits the object,applies the function and combines the results

In [ ]:
# create a dataframe called h and use iloc to slice the columns 3-5 and rows 3-4
h = df.iloc[3:4, 3:5] #iloc method of slicing is integer based
h                       #.iloc takes slices based on indexâ€™s position, behaves like regular Python slicing.

In [ ]:
# can you use the same dataset h but use loc function to slice the data?
# please leave your explanation if not.

h = df.loc[3:4, 3:5] #returns an error

 #this is because loc is primarily labed based.
 #it takes indexes as the argument e.g you can pass strings such as; column names as an argument

In [ ]:
titanic.head()

In [ ]:
# please group the dataset titanic by sex and calculate the average age

GroupedBySex = titanic.groupby('sex')["age"].mean() #groupby
GroupedBySex

In [ ]:
# what is the average age of women that died in that titanic?
df = titanic

MyDataSet = df[df["sex"]=="female"] #only female data appear
MyDataSet

# to find number of women that died
# MyDataSet[df["alive"]]

In [ ]:
# how many of the people who embarked in Southampton were male and died?
 
EmbarkSouthampton = df[df["embark_town"]=="Southampton"] # all people who embarked in Southampton
EmbarkSouthampton

x = EmbarkSouthampton[df["sex"]=="male"] # all males that embarked in Southampton
x

 # to find those that died
 # x[df["alive"]]

In [ ]:
# what is the average fare of a man in First Class

df = titanic  # dataset
df

z = df[df["sex"]=="male"] #only male data appear
z

AverageClassFares = z.groupby('class')["fare"].mean() #average fare of all classes used by men
AverageClassFares

FirstClassAv = AverageClassFares['First']  #average fare of a man in First Class
FirstClassAv

In [80]:
# drop all the indexes of those people and create a new df called aliveTitanic

In [ ]:
# how many were not adult males?
df = titanic  # dataset
df

z = df[df["sex"]=="male"] #only male data appear
z

NotAdultMales = z[df["who"]=="child"] #not adult males
NotAdultMales

Y = NotAdultMales.sum(axis = 0,numeric_only=True) #to add column values use  sum() function and axis = 0
Y